In [6]:
#import

import os
import csv

In [7]:
# Set the file path for the data

import pandas as pd
relative_path = "./budget_data.csv"
pd.read_csv(relative_path)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [8]:
# Set up the input and output file paths

input_file = "./budget_data.csv"
output_file = "./budget_analysis.txt"

In [9]:
# Initiate variables

total_months = 0
net_total = 0
prev_profit = 0
profit_changes = []
greatest_increase = ['', 0]
greatest_decrease = ['', 9999999999999999999]

In [10]:
# Read in the CSV file

with open("./budget_data.csv") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
  
 # read the header row
    header = next(csvreader)
    
    # loop through the rows
    for row in csvreader:
        
        # count the total number of months
        total_months += 1
        
        # calculate the net total of profit and losses
        net_total += int(row[1])
        
 # calculate the change in profit and losses

        if total_months > 1:
            profit_change = int(row[1]) - prev_profit
            profit_changes.append(profit_change)
            
            # find the greatest increase in profits
            if profit_change > greatest_increase[1]:
                greatest_increase[0] = row[0]
                greatest_increase[1] = profit_change
                
            # find the greatest decrease in losses
            if profit_change < greatest_decrease[1]:
                greatest_decrease[0] = row[0]
                greatest_decrease[1] = profit_change
                
        # set the previous profit to the current profit for the next iteration
        
        prev_profit = int(row[1])

In [11]:
# calculate the average change in profit and losses
average_change = sum(profit_changes) / len(profit_changes)

# format the results for printing

results = f"""Financial Analysis
----------------------------
Total Months: {total_months}
Total: ${net_total}
Average  Change: ${round(average_change, 2)}
Greatest Increase in Profits: {greatest_increase[0]} (${greatest_increase[1]})
Greatest Decrease in Profits: {greatest_decrease[0]} (${greatest_decrease[1]})"""

In [12]:
# print the results
print(results)

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)